body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    position: relative;
}

.container {
    perspective: 1000px;
    position: relative;
    width: 100%;
    height: 100%;
}

.square1 {
    position: absolute;
    background-color: #C2C287;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    overflow: hidden;
    cursor: pointer;
    /* position: relative; */
}

.square2 {
    position: absolute;
    background-color: #C2C287;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    overflow: hidden;
    cursor: pointer;
    /* position: relative; */
}

.square3 {
    position: absolute;
    background-color: #C2C287;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    overflow: hidden;
    cursor: pointer;
    /* position: relative; */
}

.rectangle1 {
    position: absolute;
    background-color: #C2C287;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    overflow: hidden;
    cursor: pointer;
    /* position: relative; */
}

.rectangle2 {
    position: absolute;
    background-color: #C2C287;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    overflow: hidden;
    cursor: pointer;
    /* position: relative; */
}

/* Square styling */
.square1 {
    width: 200px;
    height: 200px;
    transform: rotateY(60deg) rotateX(0deg);
    top: 200px; /* Adjust top position */
    left: -200px; /* Adjust left position */
}

.square2 {
    width: 200px;
    height: 200px;
    transform: rotateY(0deg) rotateX(0deg);
    top: 100px; /* Adjust top position */
    left: 50px; /* Adjust left position */
}

.square3 {
    width: 200px;
    height: 200px;
    transform: rotateY(-50deg) rotateX(0deg);
    top: 20%; /* Adjust top position */
    left: 250px; /* Adjust left position */
}

.square1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    animation: moveHorizontally 2s linear infinite;
}

.square2 img {
    width: 80%;
    height: auto;
    object-fit: cover;
    animation: moveHorizontally 3s linear infinite;
}

.square3 img {
    width: 60%;
    height: auto;
    object-fit: cover;
    animation: moveHorizontally 2s linear infinite;
}

.rectangle1 img {
    width: 40%;
    height: auto;
    object-fit: cover;
    animation: moveHorizontally 2s linear infinite;
}

.rectangle2 img {
    width: 50%;
    height: auto;
    object-fit: cover;
    animation: moveHorizontally 2s linear infinite;
}

/* Rectangle styling */
.rectangle1 {
    width: 300px;
    height: 150px;
    transform: rotateY(0deg) rotateX(80deg) rotateZ(-30deg);
    top: 60%; /* Adjust top position */
    left: -300px; /* Adjust left position */
}

.rectangle2 {
    width: 300px;
    height: 150px;
    transform: rotateY(-45deg) rotateX(45deg);
    top: 50%; /* Adjust top position */
    left: 60%; /* Adjust left position */
}

/* Keyframes for moving the images from left to right */
@keyframes moveHorizontally {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(120%);
    }
}

/* Hover text */
.hover-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Show hover text on hover */
.square1:hover .hover-text, .rectangle1:hover .hover-text {
    opacity: 0.8;
}

.square1:hover, .rectangle1:hover {
    transform: rotateY(0deg) rotateX(0deg);
}

.square2:hover .hover-text, .rectangle2:hover .hover-text {
    opacity: 0.8;
}

.square2:hover, .rectangle2:hover {
    transform: rotateY(0deg) rotateX(0deg);
}

.square3:hover .hover-text {
    opacity: 0.8;
}

.square3:hover {
    transform: rotateY(0deg) rotateX(0deg);
}

/* Floating Info Card */
.info-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; /* Adjust this value */
    max-width: 500px; /* Adjust this value */
    height: 500px; /* Adjust this value if needed */
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: none;
    z-index: 1000;
    overflow: auto;
}

.info-card #close-card {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.info-card #info-content {
    font-size: 18px;
}
